body {
    background-color: #f8f9fa;
}

h1, h2 {
    color: #343a40;
}

.navbar {
    background-color: #032830;
}
.navbar-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.navbar-brand .navbar-text {
    color: white;
    font-size: 0.9rem;
}

.nav-item .form-control {
    margin-right: 10px;
}
.search-container {
    display: flex;
    align-items: center;
}
.search-input-group {
    display: none;
}
@media (min-width: 992px) {
    .search-input-group {
        display: flex !important;
    }
    .search-icon {
        display: none !important;
    }
}

.card {
    margin-bottom: 20px;
    width: 355px;
    height: 500px;
    border-radius: 10px;
}

.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 227px;
    background-color: #f1c40f;
}

.card-body {
    background-color: #032830;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-body .card-text {
    margin: 0.5rem 0;
    text-align: left;
    width: 100%;
    
}

.card .btn-danger {
    background-color: red;
    border-color: red;
}

.btn {
    color: white;
    background-color: #032830;
}
.btn-add{
    padding: auto;
    width: 20%;
    border-radius: 7px;
}
.is-invalid ~ .invalid-feedback {
    display: block;
}